<div class="container" xmlns="">
  <div class="header-search">
    <h2 class="flt_L">Users List</h2>
    <!--<form class="navbar-form navbar-right spaceTop" action="/action_page.php">-->
      <!--<div class="form-group">-->
        <!--<input type="number" class="form-control" placeholder="Enter Search id" [(ngModel)]="id" name="name">-->
      <!--</div>-->
      <!--<button type="submit" class="btn btn-primary" (click)="onClickSearch()">Search</button>-->
    <!--</form>-->
  </div>


  <table class="table table-striped">
    <thead>
    <tr class="thead-scroll">
      	<th class="text-center">Id</th>
        <th class="text-center">Name</th>
        <th class="text-center">Age</th>
        <th class="text-center">Salary</th>
        <th class="text-center">Action</th>
      </tr>
    </thead>
    <tbody class="text-center tbody-scroll">
    <ng-template><div class="text-center" [hidden]="loading"><img src="../../assets/images/loader.gif" alt="loader..."/></div></ng-template>
    <tr class="thead-scroll" *ngFor="let d of userList; let i = index;">
        <td><a [routerLink]="['/user-details', d._id]">{{d._id}}</a></td>
        <td>{{d.firstname | custom}} {{d.lastname | custom}}</td>
        <td>{{d.age}}</td>
        <td>{{d.salary}}</td>
        <td>
          <button class="btn btn-primary" [routerLink]="['/user-form', d]" skipLocationChange>
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </button>
          <button class="btn btn-danger" (click)="deleteUser(d._id)">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>



